@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-green: #138747;
  --light-green: #19b45f;
  --footer-bg: #1c1d1c;
  --main-bg: #f8f6f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .button {
    @apply self-center px-4 py-2 bg-gradient-to-r from-green to-green-light text-white duration-150 rounded-br-xl rounded-tl-xl hover:rounded-br-none hover:rounded-tl-none hover:rounded-bl-xl hover:rounded-tr-xl max-[550px]:text-xs;
  }
  .input {
    @apply px-4 py-4 bg-slate-100 text-lg rounded-lg shadow-xl active:outline-green-light focus:outline-green-light max-[550px]:text-base max-[550px]:py-2;
  }
  .container {
    @apply p-6 shadow-xl rounded-xl bg-container-bg duration-150 hover:bg-container-active hover:scale-105 max-[550px]:p-3;
  }
}

@layer utilities {
  .section {
    @apply py-10 lg:py-16;
  }
  .section-title {
    @apply text-3xl text-green-light font-extrabold uppercase mb-10 max-[768px]:mb-6 max-[550px]:text-2xl;
  }

  .container-title {
    @apply font-bold text-xl max-[550px]:text-lg;
  }
  .container-text {
    @apply text-sm mt-2 mb-7 max-[550px]:text-xs;
  }
}
